
/* overall style */

#phorum {
    font-family: Arial;
    font-size: medium;
    max-width: 900px;
/*    text-align: left; */
    margin: auto;
}

/* HTML level styles */

img {
    vertical-align: top;
}
 
#phorum table.list {
    width: 100%;
    margin-bottom: 4px;
    border: 1px solid #CBCE99; 
    border-bottom: 0;
}


#phorum table.list th  {
    background-repeat: repeat-x;
    background-image: url('../images/header_background.png');
    background-color: #f7f7f0; 
    border-bottom: 1px solid #CBCE99; 
    font-size: small;
    padding: 5px;
}

#phorum table.list td {
    padding: 8px;
    border-bottom: 1px solid #CBCE99; 
    font-size: small;
}

#phorum table.list td.alt {
    background-color: #f7f7f0;
}

#phorum table.list td p {
    margin: 4px 8px 16px 4px;
}

#phorum table.list td h3 {
    margin: 0;
    font-size: medium;
}

#phorum table.list td h4 {
    margin: 0;
    font-size: medium;
    font-weight: normal;
}

#phorum a {
    color: #355F35;
}

#phorum a:hover {
    color: #709CCC;
}

#phorum a.icon {
    background-repeat: no-repeat;
    background-position: 1px 2px;
    padding: 4px 10px 2px 21px;
    font-size: small;
    font-weight: normal;
}

#phorum h1 {
    margin: 5px 0 0 0;
    font-size: x-large;
}

#phorum h2 {
    margin: 0;
    font-size: small;
    font-weight: normal;
}

#phorum h4 {
    margin: 0 0 5px 0;
}

#phorum hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #CBCE99;
}

/* global styles */

#phorum div.generic {
    padding: 8px;
    border: 1px solid #CBCE99;
    background-color: #EEEFDE;
}

#phorum div.generic-lower {
    padding: 8px;
    margin-bottom: 8px;
}

#phorum div.paging {
    float: right;
    font-size: small;
}

#phorum div.paging a {
    font-weight: bold;
    margin: 0 4px 0 4px;
    padding: 0 0 1px 0;
}

#phorum div.paging img{
    vertical-align: bottom;
}

#phorum div.paging strong.current-page {
    margin: 0 4px 0 4px;
}

/*
#phorum input.styled-text {
    font-family: Arial;
    border-color: #EEEFDE;
}

#phorum input.styled-button {
    font-family: Arial;
    font-weight: bold;
    background-color: #EEEFDE;
    border-color: #EEEFDE;
    color: #355F35;
    padding: 2px 0 2px 0;
    
}
*/

#phorum div.nav {
    font-size: small;
    margin: 0 0 5px 0;
}

#phorum div.nav-right {
    float: right;
}

#phorum div.information {
    padding: 8px;
    border: 1px solid #62a762;
    background-color: #e6ffe6;
    margin-bottom: 8px;
}

#phorum div.warning {
    border: 1px solid #A76262;
    background-color: #FFD1D1;
    padding: 8px;
    margin-bottom: 8px;
}

#phorum div.attachments {
    background-color: White;
    margin-top: 8px;
	padding: 16px;
    border: 1px solid #CBCE99;
}

#phorum div.attachments a {
    display: block;
}

#phorum span.new-flag {
    color: red;
}

/* header styles */

#phorum #logo {
    height: 46px;
    background-color: #78ad78;
    vertical-align: bottom;
    background-image: url('../images/top-background.png');    
}

#phorum #logo img {
    margin: 16px 0 0px 16px;
}

#phorum #top {
    padding: 8px 8px 8px 0;
    margin: 0 16px 16px 0;
}

#phorum #top-right {
    float: right;
    text-align: right;
}

#phorum #description {
    margin: 8px 8px 0 0;
    padding-right: 32px;
    font-size: small;
}

#phorum #breadcrumb {
    border: 1px solid #b6b6b6;
    border-top: 0;
    background-color: #dedede;    
    padding: 5px;
    font-size: small;
}

#phorum #user-info {
    font-size: small;
    margin: 0 0 4px 0;
    text-align: right;
}

#phorum #user-info a {
    margin: 0 0 0 10px;
    padding: 4px 0 2px 21px;
    
    background-repeat: no-repeat;
    background-position: 1px 2px;
}

#phorum #user-info img {
    border-width : 0;
    margin: 4px 3px 0 0;
}

#phorum #user-info small a{
    margin: 0;
    padding: 0;
    display: inline;
    font-size: x-small;
}

#phorum div.attention {
    padding: 8px 8px 8px 64px;
    border: 1px solid #A76262;
    background-image: url('../images/dialog-warning.png');    
    background-color: #FFD1D1;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    margin: 8px 0 8px 0;
}

#phorum div.attention a {
    color: #68312C;
    padding: 2px 2px 2px 21px;
    display: block;    
    background-repeat: no-repeat;
    background-position: 1px 2px;
}

#phorum #right-nav {
    float: right;
}

#phorum #search-area {
    padding: 8px 8px 8px 32px;
    background-repeat: no-repeat;
    background-position: 8px 12px;
    margin: 0 16px 8px 0;
}


#phorum #header-search-form {
    display: inline;
}

#phorum #header-search-form a {
    font-size: x-small;
}



/* Read styles */

#phorum td.message-user-info {
	float: right;
	font-size: small;
}

#phorum div.message-author {
    background-repeat: no-repeat;
    background-position: 0px 2px;
    padding: 0px 0 0px 21px;
	font-size: large;
	font-weight: bold;
    margin-bottom: 5px;
}

#phorum div.message-author small {
    font-size: x-small;
    font-weight: normal;
    margin: 0 0 0 16px;
}

#phorum div.message-subject {
	font-weight: bold;
    font-size: small;
}

#phorum div.message-body {
	padding: 16px;
    margin: 0 0 16px 0;
    border: 1px solid #CBCE99;
    border-top: 0;
}

#phorum div.message-date {
	font-size: small;
}

#phorum div.message-moderation {
    font-size: small;
    border: 1px solid #CBCE99;
    border-top: 0;
    padding: 6px;
}

#phorum div.message-options {
    text-align: right;
    font-size: small;
}

/* Posting styles */

#phorum #post ul {
    margin: 2px;
}
    
#phorum #post ul li {
    font-size: small;
}

#phorum #post-body {
    border: 1px solid #CBCE99; 
    background-color: White;
    padding: 8px;
}

#phorum #body {
    font-size: medium;
    font-family: Arial;
    width: 100%;
    border: 0; 
}

#phorum #post-moderation {
    font-size: small;
    float: right;
    border: 1px solid #CBCE99;
    background-color: #f9fae8;
    padding: 8px;
}

#phorum #post-buttons {
    text-align: center;
    margin-top: 8px;
}

#phorum div.attach-link {
    background-image: url('../images/attach.png');
    background-repeat: no-repeat;
    background-position: 1px 2px;
    padding: 4px 10px 2px 21px;
    font-size: small;
    font-weight: normal;
}

#phorum #attachment-list td {
    font-size: small;
    padding: 6px;
}

#phorum #attachment-list input {
    font-size: x-small;
}

/* Footer styles */

#phorum #footer-plug {
    margin-top: 26px;
    font-size: x-small;
    text-align: center;
}


/* Icon Styles */

.icon-accept {
    background-image: url('../images/accept.png');
}

.icon-bell {
    background-image: url('../images/bell.png');
}

.icon-bullet-black {
    background-image: url('../images/bullet_black.png');
}

.icon-bullet-go {
    background-image: url('../images/bullet_go.png');
}

.icon-cancel {
    background-image: url('../images/cancel.png');
}

.icon-close {
    background-image: url('../images/lock.png');
}

.icon-comment {
    background-image: url('../images/comment.png');
}

.icon-comment-add {
    background-image: url('../images/comment_add.png');
}

.icon-comment-edit {
    background-image: url('../images/comment_edit.png');
}

.icon-comment-delete {
    background-image: url('../images/comment_delete.png');
}

.icon-delete {
    background-image: url('../images/delete.png');
}

.icon-exclamation {
    background-image: url('../images/exclamation.png');
}

.icon-feed {
    background-image: url('../images/feed.png');
}

.icon-flag-red {
    background-image: url('../images/flag_red.png');
}

.icon-folder {
    background-image: url('../images/folder.png');
}

.icon-group-add {
    background-image: url('../images/group_add.png');
}

.icon-key-go {
    background-image: url('../images/key_go.png');
}

.icon-list {
    background-image: url('../images/text_align_justify.png');
}

.icon-merge {
    background-image: url('../images/arrow_join.png');
}

.icon-move {
    background-image: url('../images/page_go.png');
}

.icon-next {
    background-image: url('../images/control_next.png');
}

.icon-note-add {
    background-image: url('../images/note_add.png');
}

.icon-open {
    background-image: url('../images/lock_open.png');
}

.icon-page-go {
    background-image: url('../images/page_go.png');
}

.icon-prev {
    background-image: url('../images/control_prev.png');
}

.icon-printer {
    background-image: url('../images/printer.png');
}

.icon-split {
    background-image: url('../images/arrow_divide.png');
}

.icon-table-add {
    background-image: url('../images/table_add.png');
}

.icon-tag-green {
    background-image: url('../images/tag_green.png');
}

.icon-user {
    background-image: url('../images/user.png');
}

.icon-user-add {
    background-image: url('../images/user_add.png');
}

.icon-user-comment {
    background-image: url('../images/user_comment.png');
}

.icon-user-edit {
    background-image: url('../images/user_edit.png');
}

.icon-zoom {
    background-image: url('../images/zoom.png');
}

 
.icon-information {
    background-image: url('../images/information.png');
}







/*   BBCode styles  */

#phorum blockquote.bbcode {
    font-size: small;
    margin: 0 0 0 10px;
}

#phorum blockquote.bbcode div {
    margin: 0;
    padding: 5px;
    border: 1px solid #808080;
}

#phorum blockquote.bbcode strong {
    font-style: italic;
    margin: 0 0 3px 0;
}

#phorum pre.bbcode {
    border: 1px solid #C4C6A2;
    background-color: #FEFFEC;
    padding: 8px;
}





















/* old stuff */
.PDDiv {
    color: Black;
    font-size: 12px;

    width: 100%;
    text-align: left;
}

.PDDiv p {
    margin: 0 0 10px 0;
}

.PDDiv td, .PDDiv th {
    color: Black;
    font-size: 12px;

}

.PDDiv img {
    border-width: 0px;
    vertical-align: middle;
}

.PDDiv a {
    
}

.PDDiv a:hover {
    color: #5C5CA6;
}

.PDDiv input[type=text], input[type=password], input[type=file], select {
    background-color: White;
    color: Black;
    font-size: 12px;


    vertical-align: middle;

}

.PDDiv textarea {
    background-color: White;
    color: Black;
    font-size: 12px;
    font-family: Lucida Console, Andale Mono, Courier New, Courier;
}

.PDDiv input[type=submit] {
    border: 1px dotted #808080;
    background-color: #EEEFDE;
    font-size: 12px;

    vertical-align: middle;
}

.PDDiv input {
    vertical-align: middle;
}


/* new styles */


#phorum-menu-table {
    width: 100%;
    border-width: 0px;
}

#phorum-menu {
    padding: 5px 3px 0 0;
    vertical-align: top;
    width: 200px;
}

#phorum-content {
    padding: 5px 0 0 2px;
    vertical-align: top;
}

div.phorum-menu {
    font-size: 12px;
    background-color: White;
    border: 1px solid #808080;
    padding: 3px;
}

div.phorum-menu ul {
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

div.phorum-menu li {
    font-weight: bold;
    font-size: 12px;
    padding: 0 0 0 15px;
    margin-top:3px;
    background-image: url('templates/default/images/square_bullet.png');
    background-repeat: no-repeat;
    background-position: 1px 2px;
}

div.phorum-menu a {
    font-weight: normal;
    color: #000000;
}

div.phorum-menu a:hover {
    color: #5C5CA6;
}

div.phorum-menu a.phorum-current-page {
    font-weight: bold;
}

#phorum-post-form ul {
    padding: 0 0 0 20px;
    margin: 3px 0px 8px 0px;
    font-size: small;
}

#phorum-post-form li {
    margin-bottom: 3px;
}

#phorum-attachment-list td {
    font-size: small;
}

.PhorumTitleText {
    color: #555F55;
}

.PhorumStdBlock {
    font-size: 12px;

    background-color: White;
    border: 1px solid #808080;
    padding: 3px;
    text-align: left;
}

.PhorumStdBlockHeader {
    font-size: 12px;

    background-color: #EEEFDE;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-top: 1px solid #808080;
    padding: 3px;
    text-align: left;
}

.PhorumHeaderText {
    font-weight: bold;
}

.PhorumNavBlock {
    font-size: 12px;

    border: 1px solid #808080;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #EEEFDE;
    padding: 2px 3px 2px 3px;
}

.PhorumNavHeading {
    font-weight: bold;
}


.PhorumNavLink {
    color: #000000;
    
    font-weight: normal;
    font-family: "Bitstream Vera Sans", Lucida Sans Unicode, Lucida Grande, Arial;
    font-size: 12px;
    border-style: solid;
    border-color: #EEEFDE;
    border-width: 1px;
    padding: 0px 4px 0px 4px;
}

.PhorumSelectedFolder {
    color: #000000;
    
    font-weight: normal;
    font-family: Lucida Sans Unicode, Lucida Grande, Arial;
    font-size: 12px;
    border-style: solid;
    border-color: #EEEFDE;
    border-width: 1px;
    padding: 0px 4px 0px 4px;
}

A.PhorumNavLink:hover {
    background-color: #FFFFFF;
    font-weight: normal;
    font-family: "Bitstream Vera Sans", Lucida Sans Unicode, Lucida Grande, Arial;
    font-size: 12px;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    color: #5C5CA6;
}

.PhorumFloatingText {
    padding: 10px;
}

.PhorumHeadingLeft {
    padding-left: 3px;
    font-weight: bold;
}

.PhorumUserError {
    padding: 10px;
    text-align: center;
    color: Red;
    font-size: large;
    font-family: "Bitstream Vera Sans", "Trebuchet MS", Verdana, Arial, sans-serif;
    font-weight: bold;
}

.PhorumOkMsg {
    padding: 10px;
    text-align: center;
    color: DarkGreen;
    font-size: large;
    font-family: "Bitstream Vera Sans", "Trebuchet MS", Verdana, Arial, sans-serif;
    font-weight: bold;
}

.PhorumNewFlag {

    font-size: x-small;
    font-weight: bold;
    color: #CC0000;
}

.PhorumNotificationArea {
    float: right;
    border-style: dotted;
    border-color: #808080;
    border-width: 1px;
}

/* PSUEDO Table classes                                       */
/* In addition to these, each file that uses them will have a */
/* column with a style property to set its right margin       */

.PhorumColumnFloatXSmall {
    float: right;
    width: 75px;
}

.PhorumColumnFloatSmall {
    float: right;
    width: 100px;
}

.PhorumColumnFloatMedium {
    float: right;
    width: 150px;
}

.PhorumColumnFloatLarge {
    float: right;
    width: 200px;
}

.PhorumColumnFloatXLarge {
    float: right;
    width: 400px;
}

.PhorumRowBlock {
    background-color: White;
    border-bottom: 1px solid #F2F2F2;
    padding: 5px 0px 0px 0px;
}

.PhorumRowBlockAlt {
    background-color: #EEEFDE;
    border-bottom: 1px solid #F2F2F2;
    padding: 5px 0px 0px 0px;
}

/************/


/* All that is left of the tables */

.PhorumStdTable {
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    width: 100%;
}

.PhorumTableHeader {
    background-color: #EEEFDE;
    border-bottom-style: solid;
    border-bottom-color: #808080;
    border-bottom-width: 1px;
    color: #000000;
    font-size: 12px;
    font-family: Lucida Sans Unicode, Lucida Grande, Arial;
    font-weight: bold;
    padding: 3px;
}

.PhorumTableRow {
    background-color: White;
    border-bottom-style: solid;
    border-bottom-color: #F2F2F2;
    border-bottom-width: 1px;
    color: Black;
    font-size: 12px;

    height: 35px;
    padding: 3px;
}

.PhorumTableRowAlt {
    background-color: #EEEFDE;
    border-bottom-style: solid;
    border-bottom-color: #F2F2F2;
    border-bottom-width: 1px;
    color: #000000;
    font-size: 12px;

    height: 35px;
    padding: 3px;
}

table.PhorumFormTable td {
    height: 26px;
}

/**********************/


/* Read Page specifics */

.PhorumReadMessageBlock {
    margin-bottom: 5px;
}

.PhorumReadBodySubject {
    color: Black;
    font-size: large;
    font-family: "Bitstream Vera Sans", "Trebuchet MS", Verdana, Arial, sans-serif;
    font-weight: bold;
    padding-left: 3px;
}

.PhorumReadBodyHead {
    padding-left: 5px;
}

.PhorumReadBodyText {
    font-size: 12px;

    padding: 5px;
}

.PhorumReadNavBlock {
    font-size: 12px;

    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    background-color: #EEEFDE;
    padding: 2px 3px 2px 3px;
}

/********************/

/* List page specifics */

.PhorumListSubText {
    color: #707070;
    font-size: x-small;
    font-family: "Bitstream Vera Sans", Arial, sans-serif;
}

.PhorumListPageLink {
    color: #707070;
    font-size: x-small;
    font-family: "Bitstream Vera Sans", Arial, sans-serif;
}

.PhorumListSubjPrefix {
    font-weight: bold;
}

/********************/

/* Posting editor specifics */

.PhorumListModLink, .PhorumListModLink a {
    color: #707070;
    font-size: x-small;
    font-family: "Bitstream Vera Sans", Arial, sans-serif;
}

.PhorumAttachmentRow {
    border-bottom: 1px solid #EEEFDE;
    padding: 3px 0px 3px 0px;
}

/********************/

/* PM specifics */

.phorum-recipientblock {
    border: 1px solid black;
    position:relative;
    float:left;
    padding: 1px 1px 1px 5px;
    margin: 0px 5px 5px 0px;
    font-size: small;
    background-color: White;
    border: 1px solid #808080;
    white-space: nowrap;
}

.phorum-pmuserselection {
    padding-bottom: 5px;
}

.phorum-gaugetable {
    border-collapse: collapse;
}

.phorum-gauge {
    border: 1px solid #808080;
    background-color: #EEEFDE;
}

.phorum-gaugeprefix {
    border: none;
    background-color: white;
    padding-right: 10px;
}

/********************/

/* Override classes - Must stay at the end */

.PhorumNarrowBlock {
    width: 650px;
}

.PhorumSmallFont {
    font-size: small;
}

.PhorumLargeFont {
    color: Black;
    font-size: large;
    font-family: "Bitstream Vera Sans", "Trebuchet MS", Verdana, Arial, sans-serif;
    font-weight: bold;
}


.PhorumFooterPlug {
    margin-top: 10px;
    font-size: x-small;
    font-family: "Bitstream Vera Sans", Arial, sans-serif;
}




