#editor_tools {
    padding: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

#editor_tools a {
}

/* padding is arranged in editor_tools.js, so do not define it here. */
.editor_tools_button {
    margin-right: 2px;
    background-color: #eee;
    border: 1px solid #ddd;
}

.editor_tools_button:hover {
    border: 1px solid #777;
}

.editor_tools_popup {
    position:absolute;
    padding: 5px 10px;
    background-color:#eee;
    border:1px solid #777;
    font-family: arial, helvetica, sans-serif;
}

.editor_tools_popup a,
.editor_tools_popup a:active,
.editor_tools_popup a:visited {
    text-decoration: none;
    color: black;
}

.editor_tools_popup a:hover {
    text-decoration: underline;
}

#editor_tools_smiley_picker img,
#editor_tools_subject_smiley_picker img {
    border: none;
    margin: 3px;
}

#editor_tools_a_help {
    float: right;
}

