body {
    font-family: arial,helvetica,sans-serif;
    color: #345;
    line-height: 1.3em;
}

a:link,a:visited,a:active {
    color: #3D6F3D;
}
a:hover {
    color: #5C5CA6;
}
h1,h2,h3,h4 {
    color: black;
    padding-top: 20px;
}
h1 {
    border: 2px solid black;
    padding: 5px;
    background-color: #ded;
    color: black;
}

.programlisting {
    background-color: #f5f5f5;
    border: 1px solid black;
    padding: 10px;
    margin: 5px 40px;
}

.screen {
    background-color: #f5f5f5;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin: 5px 40px;
}
.screen .literal {
    font-size: inherit;
    color: darkgreen;
}

p {
    padding-left: 40px;
}
.itemizedlist { 
    margin-left: 30px;
}
li p {
    padding: 0px;
}
.copyright,.toc {
    padding-left: 0px;
}

.toc {
    color: black;
}
.toc p,
.list-of-examples p {
    padding-left: 0px;
}

.example .title {
    font-size: 12px;
    margin: 0px;
}

.variablelist .term {
    font-weight: bold;
    padding-left: 40px;
}


h3.author {
    font-size: 14px;
    padding-top: 0px;
}

.filename {
    white-space: nowrap;
    font-size: 16px;
    color: darkred;
}

.literal {
    white-space: nowrap;
    font-size: 16px;
    color: darkblue;
}

.note {
    border: 1px solid #ddd;
    padding: 15px;
    padding-left: 70px;
    background-image: url("images/note.png");
    background-position: 10px 15px;
    background-repeat: no-repeat;
}
.note h3 {
    padding: 0px 0px 10px 0px;
    margin: 0px;
    color: black;
}

.important {
    border: 1px solid #ddd;
    padding: 15px;
    padding-left: 70px;
    background-image: url("images/important.gif");
    background-position: 10px 15px;
    background-repeat: no-repeat;
}
.important h3 {
    padding: 0px 0px 10px 0px;
    margin: 0px;
    color: black;
}
.important p {
    padding: 0px;
    margin: 0px;
}
.important .programlisting {
    margin: 10px 0px 10px 0px;
}

.remark {
    background-color: darkred;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 10px 10px 10px 0px;
    display: block; /* Change to "none" in production */
}
